* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f2f2f2;
}
.main-banner {
  width: 700px;
  height: 400px;
  margin: 5rem auto 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.imgban {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}
#imgban-3 {
  background-image: url(./images/gabriel3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#imgban-2 {
  background-image: url(./images/gabriel2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#imgban-1 {
  background-image: url(./images/gabriel1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgbtn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  opacity: 0.8;
}
.imgbtn:hover {
  opacity: 0.9;
}
#imgbtn-next {
  background-image: url(/images/arrow-right.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2000;
  right: 5px;
  background-color: black;
  position: absolute;
  top: 185px;
}
#imgbtn-prev {
  background-image: url(/images/arrow-left.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2000;
  left: 5px;
  background-color: black;
  position: absolute;
  top: 185px;
}
